<h1><%= @movie.name %></h1>
<p><%= @movie.review %></p>

<h2><%= @movie.rating %> /10 </h2>

<h4><%= button_to "Edit", edit_movie_path(@movie),method: :get, class: "btn btn_primary", link: true %></h4>

<h5><%= button_to "Delete", delete_movie_path(@movie), method: 'delete' %></h5>

<h6><%= link_to 'Back to home', movies_path %></h6>